<div class="modal" tabindex="-1" role="dialog" id="modal-{{movie.id}}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalName">{{movie.fields.Name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="movies__item__view full-width">
        	<i class="movies__item-star fa fa-star hide"></i>
            <p class="movies__item-rating hide">{{ movie.fields.Rating }}/10</p>
            <img src="{{ movie.fields.Pictures.0.url }}" alt="{{ movie.fields.Name }}" class="movies item-image" />
            <div class="movies__view__item-title-wrapper">
				<p class="movies__view__item-title">{{ movie.fields.Notes }} </p>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a class="btn btn-danger" href="{% url 'delete' movie_id=movie.id  %}" role="button">Delete</a>
        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit-modal-{{movie.id}}">Edit details</button>
      </div>
    </div>
  </div>
</div>
